[Desktop Entry]
Version=1.0
Type=Application
Name=Giggle
Exec=giggle %F
Icon=giggle
StartupNotify=true
Categories=Development;RevisionControl;
MimeType=x-scheme-handler/git;
